{% extends "template3.html" %}
{% block title %}Grading Page{% endblock %}
{% block user %}{{username}}{% endblock %}
{% block content %}
<div class="page-header">
	<h1>Welcome to the Nerede Yesek Application</h1>
</div>
<h2>Enter Grades For Restaurants</h2>
	<div class="tabdis">
    <form action="{{url_for('user_grade')}}" method="post">
    <table>
       	<th>Name</th>
   		<th>Score</th>
    	{% for place in restaurants %}
    	<tr>
    		<td>{{ place[1] }}</td>
    		<td><input type="number" name="restaurant_score{{ place[0] }}" min="0" max="10" placeholder="0-10"></td>
    		<input type="hidden" name="user_name{{ place[0] }}" value="{{ username }}">
    		<input type="hidden" name="restaurant_ID{{ place[0] }}" value="{{ place[0] }}">
    	</tr>
    	{% endfor %}
    </table>
    <input type="submit" value="Grade">
    </form>
    </div>
{% endblock %}
