{% extends "template2.html" %}
{% block title %}Restaurant Operations{% endblock %}
{% block content %}
    <div class="page-header">
    	<h1>Restaurants</h1>
    </div>
    <div class='tabdis' style="width:70%;margin-left:25%;margin-right:25%;">
    <form action="{{url_for('restaurant_delete')}}" method="post">
     <table>
        <th>Select</th>
        <th>ID</th>
    	<th>Name</th>
    	<th>Transportation</th>
    	<th>State</th>
    	<th>Waather Seansitivity</th>
    	<th>Score</th>
    	<th>Votes</th>
    	{% for place in restaurants %}
    	<tr>
    		<td><input type="radio" name="select" value="{{ place[0] }}" ></td>
    		<td>{{ place[0] }}</td>
    		<td>{{ place[1] }}</td>
    		<td>{{ place[2] }}</td>
    		<td>{{ place[3] }}</td>
    		<td>{{ place[4] }}</td>
    		<td>{{ place[5] }}</td>
    		<td>{{ place[6] }}</td>
    	</tr>
    	{% endfor %}
   	</table>
    <input type="submit" value="Remove selected">
    </form>
    </div>

    <div class="container">
    <h2>Operations on the table</h2>
    <h3>Insert</h3>
    	<form action="{{ url_for('restaurant_insert') }}" method="post">
    		Name:<br>
    		<input type="text" name="restaurant_name">
    		<br>
    		Transportation:<br>
    		<select name="restaurant_transportation">
    				<option value="On Foot">On Foot</option>
    				<option value="By Car">By Car</option>
				</select>
    		<br>
    		State:<br>
    		<select name="restaurant_state">
    				<option value="Active">Active</option>
    				<option value="Inactive">Inactive</option>
			</select>
    		<br>
    		Weather Sensitivity:<br>
    		<select name="restaurant_weather">
    				<option value=TRUE>True</option>
    				<option value=FALSE>False</option>
			</select>
    		<br>
    		<input type="submit" value="Insert">
    	</form>

    <h3>Delete All</h3>
    	<form action="{{url_for('restaurant_delete_all')}}">
    		<input type="submit" value="Delete all">
    	</form>
    <h3>Update</h3>
    	<form action="{{ url_for('restaurant_update') }}" method="post">
    		ID :<br>
    			<select name="restaurant_ID">
    				{% for place in ids %}
    					<option value="{{ place[0]}}">{{ place[0] }}</option>
    				{% endfor %}
    			</select>
    		<br>
    		Name:<br>
    		<input type="text" name="restaurant_name">
    		<br>
    		Transportation:<br>
    		<select name="restaurant_transportation">
    				<option value="On Foot">On Foot</option>
    				<option value="By Car">By Car</option>
				</select>
    		<br>
    		State:<br>
    		<select name="restaurant_state">
    				<option value="Active">Active</option>
    				<option value="Inactive">Inactive</option>
			</select>
    		<br>
    		Weather Sensitivity:<br>
    		<select name="restaurant_weather">
    				<option value=TRUE>True</option>
    				<option value=FALSE>False</option>
			</select>
    		<br>
    		<input type="submit" value="Update">
    	</form>
    </div>
{% endblock %}
