{% extends "template3.html" %}
{% block title %}Restaurant Statistics Page{% endblock %}
{% block user %}{{username}}{% endblock %}
{% block content %}
<div class="page-header">
	<h1>Restaurants That were chosen continuing period</h1>
</div>
	<div class="tabdis">
	<table>
        <th>Name</th>
    	<th>On Foot</th>
    	<th>Weather Sensitivity</th>
    	<th>Date</th>
    	<th>Calculated Score</th>
    	{% for place in statistics %}
    	<tr>
    		<td>{{ place[0] }}</td>
    		<td>{{ place[1] }}</td>
    		<td>{{ place[3] }}</td>
    		<td>{{ place[4] }}</td>
    		<td>{{ place[2] }}</td>
    	</tr>
    	{% endfor %}
    </table>
    </div>
{% endblock %}