{% extends "template3.html" %}
{% block title %}Restaurants Page{% endblock %}
{% block user %}{{username}}{% endblock %}
{% block content %}
<div class="page-header">
	<h1>Welcome to the Nerede Yesek Application</h1>
</div>
	<div class="tabdis" style="width:70%;margin-left:25%;margin-right:25%;">
	<table>
        <th>Name</th>
    	<th>Transportation</th>
    	<th>State</th>
    	<th>Weather Sensitivity</th>
    	<th>Score</th>
    	{% for place in restaurants %}
    	<tr>
    		<td>{{ place[0] }}</td>
    		<td>{{ place[1] }}</td>
    		<td>{{ place[2] }}</td>
    		<td>{{ place[3] }}</td>
    		<td>{{ place[4] }}</td>
    		<p id="a"></p>
    	</tr>
    	{% endfor %}
    </table>
    </div>
{% endblock %}